<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" 
xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3" 
xmlns:iot="http://schemas.microsoft.com/appx/manifest/iot/windows10" 
xmlns:uap4="http://schemas.microsoft.com/appx/manifest/uap/windows10/4" 
IgnorableNamespaces="uap mp uap3 iot uap4">
  <Identity Name="ME.WinBetaYTV1" Publisher="CN=Admin" Version="1.0.5.0" />
  <mp:PhoneIdentity PhoneProductId="a2554722-33fb-4fd4-86a5-f9284408d202" PhonePublisherId="22000000-3311-1100-0040-800006000202" />
  <Properties>
    <DisplayName>WinBetaYT v1.0.5</DisplayName>
    <PublisherDisplayName>mediaexplorer</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="WinBeta_Videos.App">
      <uap:VisualElements DisplayName="WinBetaYT 1.0.5" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="WinBeta Youtube channel app" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="landscape"/>
          <uap:Rotation Preference="portrait"/>
          <uap:Rotation Preference="landscapeFlipped"/></uap:InitialRotationPreference>
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.shareTarget">
          <uap:ShareTarget Description="This is some text for sharing">
            <uap:DataFormat>"URI"</uap:DataFormat>
          </uap:ShareTarget>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <uap:Capability Name="videosLibrary" />
    <uap:Capability Name="picturesLibrary" />
    <uap:Capability Name="musicLibrary" />
    <uap3:Capability Name="backgroundMediaPlayback" />
    <uap:Capability Name="removableStorage" />
    <uap3:Capability Name="userNotificationListener"/>
    <uap4:Capability Name="userDataTasks"/>
    <iot:Capability Name="systemManagement"/>
    <DeviceCapability Name="location"/>
  </Capabilities>
</Package>